<button (click)="showExtraPanel = true">extra</button>
<ul ariaAccordion>
    <li ariaAccordionItem>
        <button ariaAccordionHeader>header 1</button>
        <div ariaAccordionPanel>Panel 1</div>
    </li>
    <li ariaAccordionItem>
        <button ariaAccordionHeader>header 2</button>
        <div ariaAccordionPanel>Panel 2</div>
    </li>
    <li *ngIf="showExtraPanel" ariaAccordionItem>
        <button ariaAccordionHeader>header 3</button>
        <div ariaAccordionPanel>Panel 3</div>
    </li>
</ul>
